/**
* 
* @author Guoxing.Han(hancoson#163.com)
* @time 2016/11/16.
*/

@import 'variables';
.loading{
  width: 100%;
  text-align: center;
  img{
    margin-top: 1rem;
    width: 50*$px;
  }
}
.items{
  width: 100%;
  margin-top: 95*$px;
  li{
    @extend .border-box;
    width: 100%;
    height: 150*$px;
    padding: 15*$px;
    background: #fff;
    font-size: 26*$px;
    margin: 10*$px 0;
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    .img{
      width: 120*$px;
      height: 120*$px;
      display: block;
      float: right;
    }
    .dec{
      width: 550*$px;
      height: 120*$px;
      float: left;
      position: relative;
      h4{
        font-weight: 400;
        color: #333;
        line-height: 1.6;
      }
      p{
        position: absolute;
        bottom: 0;
        left:0;
        color: #999;
        font-size: 24*$px;
      }
    }
  }
}