/**
 * reset
 * @author 墨萧<hancoson@163.com>
 * @time 2016/06/06
 * @version 0.1.0
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: sans-serif;
}

ol, ul, ul li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: 0;
}

input, textarea, keygen, select, button {
  font: inherit;
  &:focus {
    outline: none;
  }
}

button, a {
  border: 0;
  cursor: pointer;
}

a, a:hover {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

/* End hide from IE-mac */
.no-scroll {
  overflow: hidden;
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}